<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @cafe.title %>
</p>

<p><%= image_tag "/uploads/#{@cafe.id}", width: 100, height: 150 %></p>

<p>
  <strong>Description:</strong>
  <%= @cafe.description %>
</p>

<%= link_to 'Edit', edit_cafe_path(@cafe) %> |
<%= link_to 'Back', caves_path %>
