<div class="alert alert-danger"><h3><%= link_to "Все заведения", root_path %></h3>

<p>
<h1 class="text-center"><%= @cafe.title %></h1>

</p>
  <% if user_signed_in? %>
  	
    <div class="alert alert-danger cart">
    <% if @basket.nil? %>
      <%= form_for(Basket.new) do |f| %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :cafe_id, value: @cafe.id %>

        <div id="button">
        Cоздайте корзину
        <%= f.submit "", :type => :image, :src => "/0.jpg" %>
        </div>

      <% end %>
    <%else%>
    	<h3>Korzina u etoy kafewki est!</h3>
    <%end%>

      <div id="dish_in_basket">
	    <% unless user_signed_in? %>
	    
	       <%= render 'dish_in_baskets/dish_in_basket' %>
	    <%end%>
      </div>
    </div>

  <% end %>
</div>



<p><%= image_tag @cafe.image.url(:thumb), width: 130, height: 150 %></p>
<h4><%= @cafe.description %></h4>
<h2>Блюда заведения</h2>
<table>
    <% @cafe.dishes.each do |dish|%>
	    <%= dish.title %></br>
			<tr><%= image_tag dish.image.url(:medium), width: 130, height: 150 %></tr></br>
			<div id="dish_in_basket">
			    <% unless @basket.nil? %>
					<%= form_for(DishInBasket.new, remote: true) do |f| %>
						<%= f.hidden_field :basket_id, value: @basket.id %>
						<%= f.hidden_field :dish_id, value: dish.id %>
						<%= f.select(:quantity, options_for_select(1..10)) %>
						<div id ="dish-section">
						   <%= f.submit "Добавить в корзину" %>
						</div>
					<% end %>
				<% end %>
			</div>
	    </br>
    <% end %>	
</table>

