<!DOCTYPE html>
<html>
  <head>
    <title>Restraunt</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <% if current_user.baskets.last.nil? %>

    <div class="cart">
      <%= form_for(Basket.new) do |f| %>
        <%= f.hidden_field :user_id, value: current_user.id %>

        <div id="button">
        Cоздайте корзину
        <%= f.submit "", :type => :image, :src => "/0.jpg" %>
        </div>

      <% end %>
    </div>

  <% end %>

  

  <div id="dish_in_basket">
    <% unless current_user.baskets.last.nil? %>
    
       <%= render 'dish_in_baskets/dish_in_basket' %>
    <%end%>
  </div>
  
    <%= yield %>
  </body>
</html>
